<!DOCTYPE html>
<html lang="en" ng-app="<%= ngApp %>" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title><%= appName %></title>

    <base href="/">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- inject:css -->
    <link rel="stylesheet" href="<%= assetDir ? assetDir + '/' : '' %>css/style.css">
    <!-- endinject -->
</head>
<body>
    <nav>
        <a ui-sref="home">Home</a>
        <a ui-sref="about">About</a>
        <a ui-sref="contact">Contact</a>
    </nav>

    <div ui-view></div>

    <!-- inject:js -->
    <!-- endinject -->

    <!-- browser-sync -->
</body>
</html>
