# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

*.png binary
*.jpg binary
*.ttf binary
*.woff binary
*.gz binary
*.tgz binary
*.pdf binary
